* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    height: auto; /* Altura automática conforme o conteúdo */
    padding: 10px; /* Adiciona um padding para melhorar a leitura em telas menores */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o body */
    background-attachment: fixed; /* Fixa o background enquanto o conteúdo rola */
    background-position: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .mainbox, .mapa {
        width: 100%;
        max-width: 360px;
    }
    .mapa {
        margin-left: -3em;
    }
}

.mainbox {
    flex: 1;
    padding: 25px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-button {
    appearance: none;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 5%;
    background-color: rgba(194, 194, 194, 0.48);
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    margin-bottom: 1em;
    padding: 0 1em;
}

select {
    appearance: none;
    outline: none;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: rgba(124, 124, 124, 0.17);
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: 0.25em;
    overflow: hidden;
    margin-bottom: 1em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: rgba(124, 124, 124, 0.17);
    transition: 0.25s all ease;
    pointer-events: none;
}

.select:hover::after {
    color: #f39c12;
}

option {
    background-color: #000000;
}

.img-search {
    max-width: 30px;
    margin-left: 0.5em;
}

.medbox {
    margin-top: 2em;
}

.city {
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    font-weight: 300;
}

.temp {
    font-size: 2em;
    margin-top: 0.5em;
}

.smallbox {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 1em;
    margin-left: -0.5em;
    font-size: 1em;
}

.mensage {
    text-transform: capitalize;
}

.humidity {
    margin-top: 1em;
    font-size: 1em;
}

.sunset, .sunrise {
    margin-top: 0.3em;
}

.mapa {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#map {
    display: none;
}

#map .state {
    cursor: pointer;
}

#map .state .shape {
    cursor: pointer;
}

#map .state .label_icon_state {
    fill: #fff;
    font-family: Arial;
    font-size: 11px;
    line-height: 12px;
}

#map .state .label_state {
    display: none;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
}

#map .state:hover .label_state,
#map .state.hover .label_state {
    display: block;
}

#map .model-green .state .shape {
    fill: #000000;
}

#map .model-green .state .icon_state {
    fill: #333333;
}

#map .model-green .state .label_icon_state {
    fill: #ffffff;
}

#map .model-green .state .label_state {
    fill: rgb(255, 255, 255);

}

#map .model-green .state:hover .shape,
#map .model-green .state.hover .shape {
    fill: #333333;
}

#map .model-green .state:hover .icon_state,
#map .model-green .state.hover .icon_state {
    fill: #002344;
}
